*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

section{
    padding: 100px;
}
.banner{
    position: relative;
    min-height: 100vh;
    background: url(banner.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;

}

.banner h2 span{
    font-size: 1.5em;
    font-weight: 700 ;
}
.banner h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;

}

.btn{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 25px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}


 
.heading{
    width: 100%;
    text-align: center;

}
.heading h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;

}

.content{
    display: flex;
    justify-content: space-between;
}
.contentBx{
    margin-right: 30px;
}
.contentBx h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.w50{
    min-width: 50%;
}
img{
    max-width: 100%;
}

.heading.white{
    color: #fff;
}

.languages{
    background: #111;
}

.languages img{
    width: 100px;
}
.languages .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.languages .content .languagesBx{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    width: 300px;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.4s;
}

.languages .content .languagesBx:hover{
    background: #2196f3;
}

.portafolio .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portafolio .content .portafolioBx{
    width: 50%;
    padding: 20px;

}
.portafolio .content .portafolioBx img{
    max-width: 100%;
}

.contact{
    background: #111;
}
.FormBx{
    min-width: 60%;

}
.FormBx form{
    display: flex;
    flex-direction: column;
}

.FormBx form h3,
.contentInfo h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
} 
.FormBx form input,
.FormBx form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: #222;
    border: none;
    outline: none;
    color: #fff;
    resize: none;

}
.FormBx form textarea{
    min-height:200px ;
}
.FormBx form[type="submit"]{
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contentInfo{
    min-width: 40%;
}

.contentBx{
    position: relative;
}

.contentBx .box{
    position: relative;
    padding: 20px 0;
    display: flex;

}
.contentBx .box .icon{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;

}
..contentBx .box .text{
    display: flex;
    margin  
}




